/* ================================= 
  Base Layout Styles
==================================== */
/* Mixins */

@include font-properties('.95em', 'bold', '$black');



/* Main CSS ----- */
    
    .name {
        font-size: 1.75em;        
    }

    
    .profile-img {
        max-width: 65%;
    }
    
    .port-img {
        max-width: 95%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .col p {
        @extend %centered;     
    }
    
    h4  {
    text-transform: uppercase;
    }



/* ---- Navigation ---- */

.name {
    @include font-properties('1.25em');
}

.name,
.main-nav li {
	@extend %centered;
    background: $grey;
	margin-top: 6px;
	margin-bottom: 6px;
    font-weight: 900;
}


.name a {
	display: block;
}

/* Main Nav li updated with nesting */
.main-nav li {
    a {
        padding: 10px 15px;
        @extend %centered;
        display: block;
        @include font-properties('.95em', 'bold', '$black');
    
        &:hover {
                background-color: $medium-blue;
                color: $white;
    }
        
  }
    
}



/* ---- Layout Containers ---- */
.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
    @extend %centered;
}


/*CREATE GUTTERS */
.col {
  padding-right: 1em;
  padding-left: 1em;    
}
