
#left-footer-link {
    float: left;
    font-weight: bold;
    margin: 10px;
    font-size: 1.0em;
}
#right-footer-link {
    float: right;
    font-size: .90em;
    font-weight: bold;
    margin: 10px;
    text-transform: uppercase;  
}

#right-footer-link a:visited{
     color: black;
}

#right-footer-link a:hover{
     color: #093a58;
}


.main-footer {
	background: #D8D8D8;
	padding: 2em 0;
	margin-top: 30px;
    @extend %centered;
    border-top: 1px solid black;
}

    
.right-footer-nav li {
        display: none; /* found on MDN */
}
