
/* ================================= 
  Media Queries
==================================== */


/* 768 px or wider */
@media (min-width: $brk-medium) {
    
    .main-nav li {
        background: $white;
        text-align: center; // removed placeholder due to error within @media
    }
    
   .container {
       clear: both;
    }
    
    .main-nav li,
    .name,
    .main-header,
    #intro {
        background-color: $grey; 
    }

    
    .col {     
        width: 95%;
		margin: auto;
		display: inline-block;
        padding-bottom: 50px;
    }
    
    .left {
        float: left;
        width: 50%;    
    }
    
   .right {
        float: right;
        width: 50%;
     
    }
    
    #title {
        margin-top: 50px;
         margin-bottom: 50px;
    }
    
  
    .main-nav li {
        display: inline-block; /* display side by side */
        list-style: none;
    }
    
    .profile-img {
        max-width: 40%;
        float: right;
        padding-left: 15px;
        margin-top: 5px;
    }
    
    .port-img {
        max-width: 90%;
        margin-top: 15px;
        margin-bottom: 15px;
       
    }
    
    #left-footer-link {
        font-size: .95em;
    }
    
    #right-footer-link {
        display: none;
    }
    
    .right-footer-nav  {
        float: right;
    }
    
    .right-footer-nav li {    
        @include font-properties(.95em, bold, $black);
	    text-transform: uppercase;
        margin: 10px;
        display: inline-block;
    }
    
    .right-footer-nav a:visited{
      color: $black;
    }
    
 

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
    


}

/* 1024 px or wider */
@media (min-width: $brk-wide) {

    
    .col {
        width: 100%;
    }

    #intro p {
        font-size: 1.2em;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .main-footer p {
        font-size: 1em;
    }
    
    .name {
        float: left;
        margin-left: 50px;
    }
    
     .main-nav  {
        float: right;
        margin-right: 50px;
    }
    
    .row-one {
        /*display: inline-block;*/
    }
    
    .row-two {
        
    }
    
     .left,
    .right {
        float: left;
        width: 33%;    
    }

 
    
}